body {
    background-image: url("../img/pattern.jpg");
}

header {
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

nav {
    float: right;
}

nav ul a {
    float: left;
    list-style: none;
    padding-right: 30px;
    text-decoration: none;
    font-size: 16px;
}

section {
    width: 70%;
    margin: 0 auto;
    background-color: white;
    margin-top: 70px;
    padding: 20px;
}

section > h1 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 70px;
}

#article-list a {
    text-decoration: none;
}

#article-list div {
    border-bottom: 2px solid black;
    margin-bottom: 50px;
}

footer {
    background-color: black;
    color: #fff;
    text-align: center;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}

.container {
    background-color: white;
    width: 50%;
    margin: 0 auto;
    border-radius: 10px;
    padding: 20px;
    border: 2px solid black;
}

.container h1 {
    text-align: center;
}

.back {
    background-color: #0275d8;
    padding: 7px;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
}

input[type="text"] {
    margin-left: 80px;
}

input[type="radio"], textarea{
    margin-left: 40px;
}

input[type="submit"]{
    margin-bottom: 20px;
}

.gender {
    display: flex;
}